*
{
    margin: 0px;
    padding: 0px;
}
#data
{
    height:99vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    background-color:rgb(108, 102, 94);

}
#datta
{
  height: 380px;
  width: 350px;
  /* border: 2px solid rgb(69, 46, 201); */
  margin: 85px auto;
  background-color: rgb(205, 166, 166);
}
#log
{
    margin-left:130px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 30px;
}
#datta #sub
{
    width: 322px;
    background-color: bisque;
}
#datta #sub:hover{
    background-color:rgb(100, 13, 230);
    color: white;
}

#datta a p{
    margin-top: 3px;
    margin-left:125px;
    color: black;
}
#datta a p:hover{
    text-decoration: underline;
}
#datta a{
    text-decoration: none;
}
#datta input{
    padding: 10px;
    margin-left: 13px;
    margin-top: 5px;
    font-size: 15px;
}
#daata
{
  width: 300px;
  height: 30px;
}