
*
{
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    
}
a{
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
#main-container
{
    height: 99.5vh;
    width: 100%;
    /* border-top: 2px solid black;
    border-bottom: 2px solid black; */
    display: flex;
    overflow-y: auto;
   
    
}
/* ============container 1============ */
#container1
{
    height: 580px;
    width: 210px;
    /* border: 2px solid black; */
}
#name
{
    /* border: 2px solid black; */
    margin-top: 25px;
    margin-left: 60px;
    font-size: 45px;
    width: 100px;
}
#boards
{    
    display: flex;
    flex-direction: column;
    height: 400px;
    width:200px;
    margin-left:15px;
    margin-top:15px;
    /* border: 2px solid black; */
}
#logout{
    margin-top: 15px;
    margin-left: 30px;
    /* border: 2px solid black; */
    width: 105px;
    height: 100px;
   
}
#dashboard7
{
     font-size: 20px;
     border-radius: 10px;
     width:120px;
     cursor: pointer;
}
#dashboard7:hover
{
  color: white;
  background-color: rgb(66, 23, 23);
}

#dashboard1
{
    margin-left: 10px;
    width: 130px;
    font-size: 20px;
    height:30px;
    border-radius: 20%;
    border:2px solid black;
    padding: 20px ;
    width: 130px;
    font-weight: bold;
    color:black;
    background-color: white;

   
}
#dashboard2
{
    margin-left: 10px;
    font-size: 20px;
    height:30px;
    border-radius: 20%;
    border:2px solid black;
    padding: 20px ;
    margin-left: 10px;
    width: 130px;
    font-weight: bold;
    color:black;
    background-color: white;
   
}
#dashboard3
{
    margin-left: 25px;
    font-size: 20px;
    height:30px;
    border-radius: 20%;
    border:2px solid black;
    padding: 20px ;
    margin-left: 10px;
    width: 130px;
    font-weight: bold;
    color:black;
    background-color: white;
   
}
#dashboard4
{
    margin-left: 25px;
    font-size: 20px;
    height:30px;
    border-radius: 20%;
    border:2px solid black;
    padding: 20px ;
    margin-left: 10px;
    width: 130px;
    font-weight: bold;
    color:black;
    background-color: white;
}
#dashboard5
{
  
    font-size: 20px;
    height:30px;
    border-radius: 20%;
    border:2px solid black;
    padding: 20px ;
    margin-left: 10px;
    width: 130px;
    font-weight: bold;
    color:black;
    background-color: white;
}
#dashboard6
{
    margin-left: 10px;
    width: 130px;
    font-size: 20px;
    height:30px;
    border-radius: 20%;
    border:2px solid black;
    padding: 20px ;
    width: 130px;
    font-weight: bold;
    color:black;
    background-color: white;
}
#dashboard1:hover
{
    background-color: rgb(54, 53, 53);
    color: aliceblue;
}
#dashboard2:hover
{
    background-color: rgb(54, 53, 53);
    color: aliceblue;
}
#dashboard3:hover
{
    background-color: rgb(54, 53, 53);
    color: aliceblue;
}
#dashboard4:hover
{
    background-color: rgb(54, 53, 53);
    color: aliceblue;
}
#dashboard5:hover
{
    background-color: rgb(54, 53, 53);
    color: aliceblue;
}
#dashboard6:hover
{
    background-color: rgb(54, 53, 53);
    color: aliceblue;
}
/* ==================container 2============== */
#container2
{
    
    height: 580px;
    width:860px;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
    margin-left: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#scroll{
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-top: -15px;
    width: 890px;
    /* overflow-y: hidden; */
    margin-left: -38px;
    overflow-x: hidden;

}
/* ==================input============== */
#text
{
    height:10px;
    width: 380px;
    padding: 15px;
    margin-left:55px ;
    margin-top: 15px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;   
}
#saass{
    /* border: 2px solid black; */
    font-size: 20px;
    margin-left: -35px;
    height: 20px;
    width: 50px;
}
/* ============= */
#time
{    
    height: 20px;
    padding: 15px 10px 10px 15px;
    width:210px;
    /* border: 1px solid black;
    background-color: antiquewhite; */
    margin-left: 500px;
    margin-top: -45px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
#modedark{
    margin-top: 20px;
    height: 70px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 2;
    border-radius: 20px;
    width: 800px;
    margin-left: 25px;
    /* border: 2px solid black; */
}
#darkk{
    margin-left: 750px;
    margin-top: -30px;
    font-size: 20px;
    color: black;
    
}
/* ========table Dark mode */
.darkk
{
    background-color: black;
    color: white;
}
/* =================== */
#lal
{
    background-color: rgb(163, 112, 161);
    height: 40px;
    width: 100px;
    font-weight: bold;
    position: sticky;
}
#lal:hover{
    background-color: black;
    color: white;
}
#lal0{
    background-color: rgb(163, 112, 161);
    font-weight: bold;
    width: 40px;
}
#lal0:hover{
    background-color: black;
    color: white;
}
#lal1
{
    background-color: rgb(163, 112, 161);
    font-weight: bold;
}
#lal1:hover{
    background-color: black;
    color: white;
}
#lal2
{
    background-color: rgb(163, 112, 161);
    font-weight: bold;
}
#lal2:hover{
    background-color: black;
    color: white;
}
#lal3
{
    background-color: rgb(163, 112, 161);
    font-weight: bold;
}
#lal3:hover{
    background-color: black;
    color: white;
}
#lal4{
    background-color: rgb(161, 46, 11);
    color:black;
    font-weight: bold;
}
#lal5{
    background-color: rgb(2, 182, 35);
    color:black;
    font-weight: bold;
}
#tab
{
    height: 200px;
    width: 740px;
    /* border: 0.5px solid black; */
    margin-left: 50px;
    margin-top: 20px;
}
#tab tr:nth-child(odd)
{
    background-color: aquamarine;
}
#tab tr:nth-child(even)
{
    background-color: rgb(85, 26, 205);
}
#tab th
{   
    border:2px solid black ;
    
}

tbody td{
    background-color: rgb(36, 42, 42);
    padding:10px;
    font-weight: bold;
    color: white;

}
td button
{
    background-color: rgb(37, 190, 14);
    height: 50px;
    width: 45px;
    font-weight: bold;
}
td:hover{
    background-color: black;
    color: white;
}
/* #seven {
    background-color: red;
} */
/* #eight{
    background-color: red;
} */

/* =======container 3 =============== */
#container3
{
    height: 560px;
    width: 215px;
    /* border: 2px solid black; */
    margin-left:-8px;
    margin-top: 12px;
    border-radius: 20px;
}
#cont1
{

}
#image
{
    margin: 10px auto;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    background-image: url('../pics\ File/IMG20220222194938-removebg-preview.png');
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 80px;
    
}
#cont2 #image img{
    height: 50px;
}
#raj
{
    margin-left: 40px;
    font-size: 25px;
    font-weight: bold;
}
#raj1
{
    margin-left: 68px;
    font-size: 15px;
}
#social
{
    /* border:2px solid black; */
    height: 75px;
    display: flex;
    justify-content: space-evenly;
}
#social a{
    margin-top: 10px;
    font-size: 25px;
    margin-left: 10px;

}
#social a i{
    background-color: rgb(14, 13, 13);
    border-radius: 10px;
    color: white;
    
}
#social a i:hover{
  background-color: black;
  color: bisque;
}
#card-container
{
    height: 120px;
    width: 180px;
    /* border: 2px solid black; */
    margin-left: 35px;
    background-image: url('../pics\ File/in-ultimate-card-nav-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: 20px 10px 25px black;
    margin-top: -15px;
    cursor: pointer;
}
#artist
{
    height: 25px;
    width: 52px;
    border: 2px solid black;
    margin-left: 15px;
    font-size: 19px;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 5px;
}
#artist:hover{
    background-color: rgb(177, 177, 250);
    color: brown;
}
#art
{
    height: 150px;
    width: 200px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 30px;
    background-image: url('https://t4.ftcdn.net/jpg/05/49/86/39/360_F_549863991_6yPKI08MG7JiZX83tMHlhDtd6XLFAMce.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
#art0
{
    height: 50px;
    width: 50px;
    border:2px solid black;
    border-radius: 50%;
    margin:auto;
    margin-top: 5px;
    background-image: url('https://i.pinimg.com/originals/cc/23/b2/cc23b24496664f876a8f0ccfa8d06163.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
#art1
{
    margin-left: 51px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;

}
#art2
{
    height: 30px;
    width: 100px;
    border: 2px solid black;
    background-color:magenta;
    border-radius: 10px;
    margin-left: 55px;
    margin-top: 15px;

}
#art2 div
{
    margin-left: 28px;
    margin-top: 5px;
    font-weight: bold;
}
#art2:hover{
    background-color: black;
    color: white;
}

/* ===========form edit css ================== */
form{
    /* border: 2px solid black; */
    /* border-right: 2px solid black; */
    position: fixed;
    top:180px;
    background-color:midnightblue;
    margin-left: 500px;
    height: 400px;
    width: 350px;
    border-radius: 20px;

}
input{
    width: 250px;
    margin-left: 48px;
    margin-top: 12px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    font-size: 15px;
}
label{
    margin-left:15px;
}
#subm{
    margin-left:px;
    padding: 10px;
    height: 40px;
    width: 150px;
    margin-left:100px ;
    background-color: rgb(10, 196, 44);
    color:white;
}
#idie{
    margin-top: 25px;
}
#subm:hover{
    background-color: rgb(21, 5, 5);
    color:white;
}
/* =========== */
#cross{
    height: 5px;
    margin-left: 310px;
    margin-top: 10px;
   font-size: 20px;
   color: brown;
}